<div class="credit-card-wrap">

	<div class="mk-icon-world-map"></div>

	<div class="credit-card-inner">

		<header class="header">

			<div class="credit-logo">
				<div class="shape"><span class="txt">PB</span></div>
				<span class="text">Credit card</span>
			</div>

		</header>

		<div class="mk-icon-sim"></div>
		<div class="credit-font credit-card-number"  >{{ idcardgreen | loop }}</div>
		<span class="title">Expires End</span>
		<span class="credit-font">01/018</span>
		<div class="credit-font credit-author">{{ idnamegreen }}</div>


		<div class="pull-right">
			<div class="mk-icon-visa">

			</div>

			<div class="img">
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/2560px-Visa_Inc._logo.svg.png"
					width=61 height=30 alt="" sizes="" srcset="">
			</div>
		</div>


	</div>
	
</div>