<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  

  <div class="mainbox">

    <div class="box0"></div>

    <div  class="box1" >
      <div class="cardnumber">Card Number</div>
      <input class="inputbox1" name="text" type="text" size="38 "maxlength="16" [(ngModel)]="iddefaultapp">
    </div>
  
    <div class="box2">
      <div class="cardname">Card Name</div>
      <input class="inputbox2" name="number" type="text" size="38" maxlength="24"[(ngModel)]="idnameapp">
      
    </div>
    

    <div class="box3">
     <label for="month">Expiration Date</label>
     <select name="month" id="month">
       <option value="month">1</option>
       <option value="month">2</option>
       <option value="month">3</option>
       <option value="month">4</option>
       <option value="month">5</option>
       <option value="month">6</option>
       <option value="month">7</option>
       <option value="month">8</option>
       <option value="month">9</option>
       <option value="month">10</option>
       <option value="month">11</option>
       <option value="month">12</option>
       
      
     </select>
    </div>

    

    <div class="box4">
     <label for="year"></label>
     <select name="year" id="year">
       <option value="year">020</option>
       <option value="year">021</option>
       <option value="year">022</option>
       <option value="year">023</option>
       <option value="year">024</option>
       <option value="year">025</option>
       <option value="year">026</option>
       <option value="year">027</option>
       <option value="year">028</option>
       <option value="year">029</option>
       <option value="year">030</option>
       <option value="year">031</option>
     </select>
    </div>

    <div class="box5">
      <p>CVV</p>
      <input class="cvvbox" name="text"  size="6" maxlength="4">  
    </div>


    <div class="box6">
     <input class = "btnsubmit" type ="submit" value="Submit" style="width:340px; height:px;"(click)='submit()'>
    </div>

    
    <app-card [idcardgreen]="iddefaultapp"[idnamegreen]="idnameapp"></app-card>
    

    

    
  </div>

</body>

</html>