

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
   }


    body {
      height: 100vh;
       width: 100%;
       background-image: linear-gradient(130deg,#62c3e9,rgb(151, 204, 171));
       display: flex;
       justify-content: center;
       align-items: center;
       
}
.cardnumber{
   margin-right: 247px;
   
}
.cardname{
   margin-right: 256px;

}


 .mainbox {
     width: 360px;
     height: 450px;
     margin: 8rem auto ;
     box-shadow: 3px 3px 10px rgb(0,0,0,0.1);
     align-items: center;
     border-radius: 15px;
     background-color: rgb(226, 236, 250);
     }

 .box0{
    margin-bottom: 190px;
 }


 .box1{
   
     margin-top: 100;
     height: 55px;
     text-align: center;
     }
     .inputbox1{
        border-radius: 10px;
		  border: none;
        outline: none;

     }
     .inputbox2{
        border-radius: 10px;
		  border: none;
        outline: none;

     }
 
 .box2{
    margin-top: 11px;
    height: 55px;
    text-align: center;
    
 }
 .box3{
   margin-top: 14px;
    margin-left: 75px;
    width: 115px;
    height: 55px;
    
 }
 .box4{
    margin-top: -31px;
    margin-left: 130px;
    width: 60px;
    height: 40px;
    
    
 }
 .box5{
    margin-top: -65px;
    margin-left: 200px;
    width: 100px;
    height: 60px;
    
 }
 .cvvbox{
    height: 22px;

 }
 .box6{
    text-align: center;
    margin-top: 15px;
    height: 50px;
}
.btnsubmit{
   border-radius: 12px;
   outline: none;
}
















 